html {
  background-color: ;
  font-size: 18px;
  font-family: Helvetica;
}
.company {
  display: flex;
  flex-grow: 1;
  height: 48px;
  width: 100%;
  height: 48px;
  margin: auto;
  background-color: black;
}
.container {
  display:flex;
  width: 960px;
  margin: auto;
  align-items: center;

}
.container img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

}
.container span {
  color: white;
  display: flex;
  align-items: center;
  padding: .66rem 0;
}
header {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;

}
.main-banner {
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
  margin: auto;
  flex-grow: 1;
  border-color: 1px solid red;

}
.headline {
  display: flex;
  width: 25rem;
  flex-direction: column;
  background-color: black;
  height: 10rem;
}
h1 {
  color: white;
  font-weight: bold;
  padding: 2rem 0rem .35rem 3rem;
}
h3 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 0rem 0rem 0rem 3rem;
}
.navigation {
    background-color: firebrick;
    width: 100%;
    height: 48px;
    display: flex;
    flex-grow: 1;
    flex-grow: 1;
}
nav {
  width: 960px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: auto;
}
.items {
  width: 960px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.boxes {
  margin: 3rem 2rem 0rem 2rem;
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes.left {
  margin-left: 0px;
}
.boxes.right {
  margin-right: 0px;
}
.pen {
  background-image: url("../images/pen.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}
.watch {
  background-image: url("../images/watch.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}
.glasses {
  background-image: url("../images/glasses.png");
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}
.boxes span {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem 0rem;
}
.buttons {
  width: 960px;
  padding: 3rem 0rem 4rem 0rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.title {
  display: flex;
  color: white;
  padding: 1rem 2rem;
  justify-content: flex-start;
  background-color: black;
}
.title span {
  display: flex;
  color: black;
  background-color: white;
  justify-content: flex-start;
  margin-bottom: 4rem;
}
.hours .title {
  display: flex;
  color: white;
  justify-content: flex-end;
}
footer {
  width: 100%;
  height: 10rem;
  background-color: black;
  display: flex;
}
footer span{
  width:960px;
  height: 10rem;
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  margin: auto;
}
